@model ProyectoFinal__RyN__.Models.Vacaciones

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la Vacacion</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre_Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inicio_Vacaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inicio_Vacaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fin_Vacaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fin_Vacaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>
</div>
<p>

    <a class="btn btn-default btn-success" href="~/Vacaciones/Edit/@Model.Id_vacaciones">
        Editar

    </a>

    <a class="btn btn-default btn-success" href="~/Vacaciones/Index/">
        Listado de Vacaciones
    </a>
</p>
