@model IEnumerable<ProyectoFinal__RyN__.Models.Vacaciones>

@{
    ViewBag.Title = "Index";
}
<br />  
<h2>Listado de Vacaciones</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio_Vacaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fin_Vacaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicio_Vacaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fin_Vacaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id_vacaciones }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id_vacaciones }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id_vacaciones })*@
            <a class="btn btn-default btn-info" href="~/Vacaciones/Edit/@item.Id_vacaciones" title="Editar">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-default btn-warning" href="~/Vacaciones/Details/@item.Id_vacaciones" title="Detalles">
                <i class="glyphicon glyphicon-list-alt"></i>
            </a>
            <a class="btn btn-default btn-danger" href="~/Vacaciones/Delete/@item.Id_vacaciones" title="Eliminar">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
<p>

    <a class="btn btn-default btn-success" href="~/Vacaciones/Create/">
        Registrar Nueva Vacacion

    </a>
</p>