@model ProyectoFinal__RyN__.Models.Licencia

@{
    ViewBag.Title = "Delete";
}
<br />  
<h3>Esta seguro que desea eliminar esta licencia?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inicio_Licencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inicio_Licencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fin_Licencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fin_Licencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a class="btn btn-default btn-success" href="~/Licencia/Index/">
            Ir a la lista de Licencias

        </a>
    </div>
    }
</div>
