@model ProyectoFinal__RyN__.Models.Licencia

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalles de la Licencia</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Codigo_Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre_Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inicio_Licencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inicio_Licencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fin_Licencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fin_Licencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>
</div>
<p>

    <a class="btn btn-default btn-success" href="~/Licencia/Edit/@Model.Id_Licensia">
        Editar

    </a>

    <a class="btn btn-default btn-success" href="~/Licencia/Index/">
        Lista de Licencias

    </a>
</p>
