@model IEnumerable<ProyectoFinal__RyN__.Models.Licencia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Codigo_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio_Licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fin_Licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Codigo_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fin_Licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Licensia }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Licensia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Licensia })
        </td>
    </tr>
}

</table>
