@model IEnumerable<ProyectoFinal__RyN__.Models.Licencia>

@{
    ViewBag.Title = "Index";
}
<br />  
<h2>Listado de Licencias</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Codigo_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio_Licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fin_Licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Codigo_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicio_Licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fin_Licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id_Licensia }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id_Licensia }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id_Licensia })*@
            <a class="btn btn-default btn-info" href="~/Licencia/Edit/@item.Id_Licensia" title="Editar">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-default btn-warning" href="~/Licencia/Details/@item.Id_Licensia" title="Detalles">
                <i class="glyphicon glyphicon-list-alt"></i>
            </a>
            <a class="btn btn-default btn-danger" href="~/Licencia/Delete/@item.Id_Licensia" title="Eliminar">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
<p>

    <a class="btn btn-default btn-success" href="~/Licencia/Create/">
        Registrar Nuevo Licencia

    </a>
</p>