@model IEnumerable<ProyectoFinal__RyN__.Models.Permiso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo permiso", "Create", "Permiso", new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Codigo_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio_Permiso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fin_Permiso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Codigo_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicio_Permiso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fin_Permiso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id_Permiso }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id_Permiso }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id_Permiso })
        </td>*@
    </tr>
}

</table>
