@model ProyectoFinal__RyN__.Models.Nomina

@{
    ViewBag.Title = "Details";
}
<br />  
<h2>Detalle de Nomina</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>

    </dl>
</div>
<p>

    <a class="btn btn-default btn-success" href="~/Nomina/Edit/@Model.Id_Nomina">
        Editar

    </a>

    <a class="btn btn-default btn-success" href="~/Nomina/Index/">
        Listado de Nominas

    </a>
</p>